.task {
  padding: 1.2rem;
  margin-bottom: 0.5rem;
  background-color: #eee;
  border: solid 1px #ccc;
  border-radius: 8px;
  font-size: 1.3rem;


  &__label {
    margin-left: .5rem;
  }

  &--checked {
    text-decoration: line-through;
  }
}

